*.pyc
.DS_Store
*info.plist
.config/lazygit/state.yml
.config/ranger/trash_history
.config/lazygit/state.yml
.config/raycast/extensions
.config/htop/htoprc
.config/nvim/lazy-lock.json
local.sh
.config/astronvim
.config/yazi/scripts
.config/yazi/keymap.toml
.config/jellyfin
install
.config/neofetch
.config/snakemake
.config/newsboat/scripts
.config/newsboat/cache.db
.config/newsboat/history.cmdline
.config/newsboat/ignores
.config/newsboat/macros
.config/newsboat/queue
.config/newsboat/urls
*.swp
.config/apd
.config/karabiner/automatic_backups
.config/flashspace
