page_separator_width 20
linear_filter        1
prerender_next_page_presentation 1

background_color        0.12 0.12 0.18
text_highlight_color    0.87 0.56 0.11
search_highlight_color  1.00 0.39 0.04
synctex_highlight_color 0.02 0.65 0.90
link_highlight_color    0.45 0.53 0.99
status_bar_color        0.12 0.12 0.18
status_bar_text_color   0.80 0.84 0.96
status_bar_font_size    18

ui_font   JetBrainsMono Nerd Font
font_size 22

startup_commands toggle_synctex;fit_to_page_width;toggle_statusbar
